Package: eol-daq
Version: x.y
Section: science
Priority: optional
Depends: i2c-tools, nidas-daq
Architecture: all
Maintainer: Gordon Maclean <maclean@ucar.edu>
Homepage: https://github.com/ncareol/embedded-daq
Description: Scripts for NCAR EOL data acqusition
 Scripts for NCAR EOL data acqusition
