Package: rpi2-daq
Version: x.y
Section: science
Priority: optional
Depends: nidas-rpi2, network-manager
Conflicts: dhcpcd5
Architecture: all
Maintainer: Gordon Maclean <maclean@ucar.edu>
Homepage: https://github.com/ncareol/embedded-daq
Description: Package for ISFS data acquistion on a RaspberryPi 2
  Package for ISFS data acquistion on a RaspberryPi 2
