[Unit]
Description=Tee data from Ublox I2C GPS
ConditionFileIsExecutable=/opt/nidas/bin/tee_i2c
Requires=gpsd.service
Before=gpsd.service

[Service]
Type=forking
EnvironmentFile=/etc/default/tee-i2c-gps
EnvironmentFile=/etc/default/gpsd
ExecStart=/opt/nidas/bin/tee_i2c $GPS_DEVICE $GPS_TEE_OPTS $GPS_TEE_DEVICE $DEVICES
KillMode=process

[Install]
WantedBy=chrony.service
Alias=tee-gps.service
