[Unit]
Description=Configure Ublox GPS via I2C
ConditionFileIsExecutable=/opt/nidas/bin/ublox
Requires=tee-i2c-gps.service
Before=tee-i2c-gps.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/tee-i2c-gps
ExecStart=/bin/date '+"starting ublox: %%c"'
ExecStart=/opt/nidas/bin/ublox $GPS_DEVICE $GPS_OPTS -d VTG -d GSV -d GSA -d GLL

[Install]
WantedBy=tee-i2c-gps.service
