Package: isfs-daq
Version: x.y
Section: science
Priority: optional
Architecture: all
Depends: eol-daq, gpsd, chrony, pps-tools, nidas, nidas-daq
Maintainer: Gordon Maclean <maclean@ucar.edu>
Homepage: https://github.com/ncareol/embedded-daq
Description: Scripts for NCAR ISFS data acquisition
 Scripts for NCAR ISFS data acquisition
