Package: isfs-daq
Version: x.y
Section: science
Priority: optional
Architecture: all
Depends: eol-daq
Maintainer: Gordon Maclean <maclean@ucar.edu>
Homepage: https://github.com/ncareol/embedded-daq
Description: Scripts for NCAR ISFS data acqusition
 Scripts for NCAR ISFS data acqusition
